<app-modal
    modalId="authModal"
    modalConfirmBtnText="Log in"
    modalCancelBtnText="Cancel"
    [showHeader]="false"
    [showFooter]="false">
    <form
        [formGroup]="loginForm"
        class="bg-white p-8 border-t border-gray-200 dark:border-gray-600 dark:bg-gray-700"
        (ngSubmit)="onSubmit()"
        [class.alert]="formError">
        <div class="flex flex-col items-center">
            <div class="mb-4">
                <h3 class="text-xl font-semibold text-gray-500">Login</h3>
            </div>
            <div class="md:flex md:items-center mb-4">
                <div class="md:w-1/3">
                    <label class="block text-gray-400 font-bold" for="username"
                        >Email</label
                    >
                </div>
                <div class="md:w-2/3">
                    <input
                        formControlName="email"
                        (keyup)="hideFormError()"
                        class="block appearance-none mb-2 border-2 bg-gray-100 border-gray-100 pt-2 pb-1 px-4 rounded focus:outline-none focus:ring-0 focus:border-blue-500 focus:bg-white text-gray-500 w-full placeholder-gray-300 placeholder:font-light"
                        type="text"
                        placeholder="Email"
                        required />
                </div>
            </div>
            <div
                class="alert"
                [class.visible]="
                    loginForm.controls['email'].invalid &&
                    loginForm.controls['email'].touched
                ">
                Please enter email
            </div>
            <div class="md:flex md:items-center">
                <div class="md:w-1/3">
                    <label class="block text-gray-400 font-bold" for="password"
                        >Password</label
                    >
                </div>
                <div class="md:w-2/3">
                    <input
                        formControlName="password"
                        (keyup)="hideFormError()"
                        class="block appearance-none mb-2 border-2 bg-gray-100 border-gray-100 pt-2 pb-1 px-4 rounded focus:outline-none focus:ring-0 focus:border-blue-500 focus:bg-white text-gray-500 w-full placeholder-gray-300 placeholder:font-light"
                        type="password"
                        placeholder="******"
                        required />
                </div>
            </div>
            <div
                [class.visible]="
                    loginForm.controls['password'].invalid &&
                    loginForm.controls['password'].touched
                "
                class="alert">
                Please enter password
            </div>

            <div class="alert mt-6 mb-6" [class.visible]="formError">
                {{ formError }}
            </div>

            <div class="md:flex md:items-center">
                <app-button variant="primary" type="submit">Log in</app-button>
                <button
                    class="text-gray-500 font-semibold py-2 px-4 rounded hover:underline">
                    Create account
                </button>
            </div>
        </div>
    </form>
</app-modal>
