<div class="header flex p-4">
    <div class="flex-1"></div>
    <div class="auth-container inline-block flex">
        <app-button
            modalTarget="authModal"
            modalToggle="authModal"
            variant="primary">
            Log In
            <app-svg
                type="log-in"
                width="14"
                height="14"
                class="inline-block align-middle"></app-svg>
        </app-button>
        <app-svg-button
            type="settings"
            class="pl-2"
            dropDownToggle="settingsDropdown"></app-svg-button>
        <app-dropdown-list id="settingsDropdown">
            <span>
                <a href="#" (click)="toggleDarkMode()"
                    >Toggle Dark Mode</a
                ></span
            >
            <span>Test 2</span>
            <span>Test 3</span>
            <span>Test 4</span>
            <span>Test 5</span>
        </app-dropdown-list>
    </div>
</div>
<app-auth-modal></app-auth-modal>
